:root {
    --main-font: "Roboto";
    --secondary-font: "Raleway";
    --title-main-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
}

body {
    font-family: 'Roboto', 'Raleway';
    font: size 14px;
   line-height: 1.71;
   letter-spacing: 0.03em;
   color: #212121;  
   background-color: #FFFFFF;         
}

.list {
    list-style: none;
  }

.link {
    text-decoration: none;
  }
.header-logo {
    font-weight: 700;
    font-size: 26px;
    line-height:1.192;
    letter-spacing: 0.03em;
    color: #000000;
}

.heder-logo-web { 
    font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;
    color: #212121;
}
.heder-mail-link { 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color:#757575;  
}
.heder-tel-link {   
    font-weight: 500;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.02em;
    color:#757575;  
}
.nav-link:hover,
.nav-link:focus {
    color: #2196F3;
}
.header-mail-link:hover,
.header-mail-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
    color: #2196F3; 
}
.hero{
    background-color: #2F303A;;
}
.hero-title {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.hero-btn {
    font-family: inherit;
    background-color: #2196F3;   
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}
.hero-btn:hover,
.hero-btn:active:{
background-color: #2196F3;
}
.advances-list-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.03em;
    color: #212121;
}
.advances-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color:#757575;
}
.about-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color:#212121;
}
.team-title{
 font-weight: 700;
font-size: 36px;
line-height: 1.167;
letter-spacing: 0.03em;
color: #212121;
}
.team-list-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.188;
    letter-spacing: 0.03em;
    color: #212121;
}
.team-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.188;   
    letter-spacing: 0.03em;        
    color: #757575;
}
.projects-navigation-btn {
    font-family:"Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
     color: #212121;
}

.projects-navigation-btn:hover,
.projects-navigation-btn:focus {
   background-color: #2196F3;
    color: #FFFFFF;
}

.our-projects-list-title {    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color:#212121;
}

.our-projects-list-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575
}
  .footer{
    background: #2F303A;
  }  
    .footer-logo {
        font-weight: 700;
        font-size: 26px;
        line-height:1.192;
        letter-spacing: 0.03em;
        color: #000000;
    }
    .footer-logo-web {
     font-weight: 700;
    font-size: 26px;
    line-height: 1.192;
    letter-spacing: 0.03em;
    color: #2196F3;
    }

.footer-address-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
     color: #FFFFFF;
}
.footer-mail-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-tel-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}